/* Slide des images */

.slider {
  width: 800px;
  margin: 30px auto;
  position: relative;
}

.slider-viewport {
  width: 800px;
  overflow: hidden;
}

.slider-content {
  display: grid;
  grid-auto-flow: column;
  transition: 1s all;
}
.slider-content img {
  width: 800px;
}

.slider-nav {
  position: absolute;
  width: 100%;
  bottom: -30px;
  margin-top: 10px;
  text-align: center;
}
.slider-nav a {
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
  display: inline-block;
  background-color: #adafbc;
  width: 15px;
  height: 15px;
  margin: 0 3px;
}
.slider-nav a:hover {
  box-shadow: 0px 0px 5px 0px rgba(100, 100, 100, 0.8);
}

#img2:target .slider-content {
  transform: translateX(-800px);
}

#img3:target .slider-content {
  transform: translateX(-1600px);
}

#img4:target .slider-content {
  transform: translateX(-2400px);
}

#img5:target .slider-content {
  transform: translateX(-3200px);
}

#img6:target .slider-content {
  transform: translateX(-4000px);
}

#img7:target .slider-content {
  transform: translateX(-4800px);
}

/* Menu */

nav{
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;
  font-family: Avenir,sans-serif;
}
nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);  
}

nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color: white;
  position: relative;
  height: 100%;
  flex: 1;
}
nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: black;
}
.sub-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
  max-height: 0;
}

.sub-menu > li > a {
  height: 50px;
  padding-left: 20px;
  width: 100%;
  align-items: center;
  display: flex;
}
nav > ul > li:hover > a{
  color: #2169EC;
}
.sub-menu > li:hover {
  background-color: rgba(33, 105, 236, 0.3);
}

.sub-menu > li:hover > a {
  color: white;
}
.sub-menu > li:hover {
  background-color: rgba(33, 105, 236, 0.3);
}

.sub-menu > li:hover > a {
  color: white;
}
.sub-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  overflow: hidden;
  max-height: 0;
  border-radius: 2px;
  background-color: white;
}

.menu:hover > .sub-menu {
  animation: apparitionSub-menu 1s forwards;
}

@keyframes apparitionSub-menu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #2169EC;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #2169EC;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}